@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

:root {
    --text-colour: #FFCFCF;
    --link-colour: #BF4C4C;
    --background-colour: #4F0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-colour);
}

a {
    color: var(--text-colour);

/*<!-- avoiding the underline of links -->*/
    text-decoration: none;
}

/******************************************************************************************/
/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-colour);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-colour);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-colour);
    background-color: var(--text-colour);
    padding: 5px 15px;
    border-radius: 5px;
}

/********************************************************************************************/
/* Section 1: Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.header .text{
    flex:5;
}

.header .text h1{
    font-size: 46px;
}

.header .text p{
    font-size: 18px;
    margin-right: 50px;
}

.header .jumps{
    color: var(--text-colour);
    margin: 36px 10px;
    font-size: 18px;
}

.header .jumps a{
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}
.header .jumps a:hover{
    color: var(--background-colour);
    background-color: var(--text-colour);
    padding: 5px 15px;
    border-radius: 5px;
}

.header .photo{
    flex:2;
    display: flex;
    justify-content: right;
}

.header .photo img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

/*******************************************************************************************/
/*Displaysizes*/
@media(max-width: 600px){
    /*NAVBAR*/
    nav{
        padding: 0 20px;
    }

    nav .left a{
        font-size: 12px;
    }

    nav .right a {
        move-to: left;
        font-size: 12px;
    }
}